@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Quicksand:wght@300..700&display=swap');

body{
    font-family: "Lexend Deca", sans-serif;
}

.section1{
    background-image: url("/mainbg.png");
    background-size: cover;
    background-position: center;
}

.swiper{
    width: 75%;
}

.swiper-section3{
    width: 100%;
    margin-left: 90px;
    margin-right: 90px;
}