@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Quicksand:wght@300..700&display=swap');

body{
    font-family: "Lexend Deca", sans-serif;
}

.section1{
    background-image: url("/mainbg.png");
    background-size: cover;
    background-position: center;
}

.swiper{
    width: 75%;
}

.swiper-section3{
    width: 100%;
    margin-left: 90px;
    margin-right: 90px;
}

.tour-path:not(:last-child)::after{
    content: ">>";
    margin-left: 15px;
    color: white;
}

.detail-tour-slider{
    width: 100%;
    max-width: 695px;
}

.title-tour-track {
    position: relative;
}

.title-tour-track::before {
    content: "";
    position: absolute;
    left: -22px; 
    top: 10px; 
    width: 10px;
    height: 10px;
    background-color: #4502C7; 
    border-radius: 50%;
}